# Projet 7 : Implémentez un modèle de scoring




# Summary
 - <a href="#C1">Import and settings</a>
      - <a href="#C1.1">Import required items</a>
      - <a href="#C1.2">Settings</a>
 - <a href="#C2">Functions</a>
 - <a href="#C3">Data analysis and cleaning</a>

# <a name="C1"> Import and settings
## <a name="C1.1"> Import required items

In [1]:
# Use code formatting tool
%load_ext nb_black

In [2]:
# Import required librairies
import os, time, datetime
import multiprocessing

import pandas as pd
import numpy as np
import random

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import svm, kernel_ridge, metrics
from sklearn.preprocessing import (
    StandardScaler,
    MinMaxScaler,
    RobustScaler,
)

# from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.compose import ColumnTransformer
from sklearn.feature_selection import SelectKBest, chi2

from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline

from lightgbm import LGBMClassifier

# from sklearn import (
# cluster,
# metrics,
# manifold,
# decomposition,
# )

In [3]:
# Import data from file in a DataFrame
path = "Projet+Mise+en+prod+-+home-credit-default-risk/"

data_application_test = pd.read_csv(path + "application_test.csv")

data_application_train = pd.read_csv(path + "application_train.csv")

data_bureau = pd.read_csv(path + "bureau.csv")

data_bureau_balance = pd.read_csv(path + "bureau_balance.csv")

data_credit_card_balance = pd.read_csv(path + "credit_card_balance.csv")

data_col_desc = pd.read_csv(
    path + "HomeCredit_columns_description.csv", encoding="ISO-8859-1", index_col=0
)

data_installments_payments = pd.read_csv(path + "installments_payments.csv")

data_POS_CASH_balance = pd.read_csv(path + "POS_CASH_balance.csv")

data_previous_application = pd.read_csv(path + "previous_application.csv")

data_sample_submission = pd.read_csv(path + "sample_submission.csv")

In [4]:
data_col_desc

,Table,Row,Description,Special
1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...
217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

## <a name="C1.2"> Settings

In [5]:
# Set the results display
pd.set_option("display.max_rows", 70)
pd.set_option("display.max_columns", 100)
pd.options.display.float_format = "{:,.4f}".format

In [6]:
# General settings
random_set = 42
n_sample = 10000
test_size = 0.40
max_empty = 0.25

# <a name="C2"> Functions

In [7]:
# Function to remove features that has not enough values and replace empty values with more or median
def clean_df(df):
    col_to_ignore = df.columns[df.isnull().mean() > max_empty].to_list()
    df = df.drop(col_to_ignore, axis=1)
    col_to_fill = df.columns[df.isnull().mean() > 0].to_list()
    for col in col_to_fill:
        if df[col].dtypes == object:
            df.loc[df[col].isnull(), col] = df[col].mode()[0]
        else:
            df.loc[df[col].isnull(), col] = df[col].median()
    return df

In [8]:
# Fonction de traitement des outliers en fonction des quartiles
def outliers(df, var):
    # calculer les quartiles
    Q1 = df[var].quantile(0.25)
    Q3 = df[var].quantile(0.75)
    IQ = Q3 - Q1
    mini = Q1 - 1.5 * IQ
    maxi = Q3 + 1.5 * IQ
    # mettre les outliers à NaN
    mask_mini = df[var] < mini
    df.loc[mask_mini, var] = np.NaN
    mask_maxi = df[var] > maxi
    df.loc[mask_maxi, var] = np.NaN

# <a name="C3"> Data analysis

In [9]:
data_col_desc["Table"].unique()

array(['application_{train|test}.csv', 'bureau.csv', 'bureau_balance.csv',
       'POS_CASH_balance.csv', 'credit_card_balance.csv',
       'previous_application.csv', 'installments_payments.csv'],
      dtype=object)

In [10]:
data_col_desc[data_col_desc["Table"] == "application_{train|test}.csv"]

,Table,Row,Description,Special
1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...
120,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
121,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
122,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
123,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
124,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN

In [11]:
data_sample_submission.describe()

        SK_ID_CURR      TARGET
count  48,744.0000 48,744.0000
mean  277,796.6763      0.5000
std   103,169.5473      0.0000
min   100,001.0000      0.5000
25%   188,557.7500      0.5000
50%   277,549.0000      0.5000
75%   367,555.5000      0.5000
max   456,250.0000      0.5000

In [12]:
data_application_test.shape

(48744, 121)

In [13]:
data_application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,...,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,"202,500.0000","406,597.5000","24,700.5000","351,000.0000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.0188,-9461,-637,"-3,648.0000",-2120,NaN,1,1,0,1,1,0,Laborers,1.0000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.0830,0.2629,0.1394,0.0247,0.0369,0.9722,0.6192,0.0143,0.0000,...,0.0250,0.0369,0.9722,0.6243,0.0144,0.0000,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.0000,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0000,2.0000,2.0000,2.0000,"-1,134.0000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000
1,100003,0,Cash loans,F,N,N,0,"270,000.0000","1,293,502.5000","35,698.5000","1,129,500.0000",Family,State servant,Higher education,Married,House / apartment,0.0035,-16765,-1188,"-1,186.0000",-291,NaN,1,1,0,1,1,0,Core staff,2.0000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.3113,0.6222,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.0800,...,0.0968,0.0529,0.9851,0.7987,0.0608,0.0800,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.0100,reg oper account,block of flats,0.0714,Block,No,1.0000,0.0000,1.0000,0.0000,-828.0000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.0000","135,000.0000","6,750.0000","135,000.0000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.0100,-19046,-225,"-4,260.0000",-2531,26.0000,1,1,1,1,1,0,Laborers,1.0000,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.5559,0.7296,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0000,-815.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,100006,0,Cash loans,F,N,Y,0,"135,000.0000","312,682.5000","29,686.5000","297,000.0000",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.0080,-19005,-3039,"-9,833.0000",-2437,NaN,1,1,0,1,0,0,Laborers,2.0000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.6504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0000,0.0000,2.0000,0.0000,-617.0000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,"121,500.0000","513,000.0000","21,865.5000","513,000.0000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.0287,-19932,-3038,"-4,311.0000",-3458,NaN,1,1,0,1,0,0,Core staff,1.0000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.3227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0000,"-1,106.0000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,"157,500.0000","254,700.0000","27,558.0000","225,000.0000",Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.0326,-9327,-236,"-8,456.0000",-1982,NaN,1,1,0,1,0,0,Sales staff,1.0000,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.1456,0.6816,NaN,0.2021,0.0887,0.9876,0.8300,0.0202,0.2200,...,0.2040,0.0887,0.9876,0.8323,0.0203,0.2200,0.1034,0.6042,0.2708,0.0605,0.1509,0.2001,0.0757,0.1118,reg oper account,block of flats,0.2898,"Stone, brick",No,0.0000,0.0000,0.0000,0.0000,-273.0000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,"72,000.0000","269,550.0000","12,001.5000","225,000.0000",Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.0252,-20775,365243,"-4,388.0000",-4090,NaN,1,0,0,1,1,0,NaN,1.0000,2,2,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.1160,NaN,0.0247,0.0435,0.9727,0.6260,0.0022,0.0000,...,0.0250,0.0435,0.9727,0.6310,0.0022,0.0000,0.1034,0.0833,0.1250,0.0589,0.0205,0.0261,0.0000,0.0000,reg oper account,block of flats,0.0214,"Stone, brick",No,0.0000,0.0000,0.0000,0.0000,0.0000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,"153,000.0000","677,664.0000","29,979.0000","585,000.0000",Unaccompanied,Working,Higher education,Separated,House / apartment,0.0050,-14966,-7921,"-6,737.0000",-5150,NaN,1,1,0,1,0,1,Managers,1.0000,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.7440,0.5357,0.2189,0.1031,0.0862,0.9816,0.7484,0.0123,0.0000,...,0.1041,0.0862,0.9816,0.7518,0.0124,0.0000,0.2069,0.1667,0.2083,NaN,0.0855,0.9445,0.0000,0.0000,reg oper account,block of flats,0.7970,Panel,No,6.0000,0.0000,6.0000,0.0000,"-1,909.0000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0000,0.0000,0.0000,1.0000,0.0000,1.0000
307509,456254,1,Cash loans,F,N,Y,0,"171,000.0000","370,107.0000","20,205.0000","319,500.0000",Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.0053,-11961,-4786,"-2,562.0000",-931,NaN,1,1,0,1,0,0,Laborers,2.0000,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.5142,0.6610,0.0124,NaN,0.9771,NaN,NaN,NaN,...,0.0125,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0062,NaN,NaN,NaN,block of flats,0.0086,"Stone, brick",No,0.0000,0.0000,0.0000,0.0000,-322.0000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
307510,456255,0,Cash loans,F,N,N,0,"157,500.0000","675,000.0000","49,117.5000","675,000.0000",Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.0462,-16856,-1262,"-5,128.0000",-410,NaN,1,1,1,1,1,0,Laborers,2.0000,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.7345,0.7086,0.1139,0.0742,0.0526,0.9881,NaN,0.0176,0.0800,...,0.0749,0.0526,0.9881,NaN,0.0177,0.0800,0.0690,0.3750,NaN,NaN,NaN,0.0805,NaN,0.0000,NaN,block of flats,0.0718,Panel,No,0.0000,0.0000,0.0000,0.0000,-787.0000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0000,0.0000,0.0000,2.0000,0.0000,1.0000

In [14]:
len(data_application_train) + len(data_application_test)

356255

In [15]:
data_application_train.describe(include="all")

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,...,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,"307,511.0000","307,511.0000",307511,307511,307511,307511,"307,511.0000","307,511.0000","307,511.0000","307,499.0000","307,233.0000",306219,307511,307511,307511,307511,"307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","104,582.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000",211120,"307,509.0000","307,511.0000","307,511.0000",307511,"307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000",307511,"134,133.0000","306,851.0000","246,546.0000","151,450.0000","127,568.0000","157,504.0000","103,023.0000","92,646.0000","143,620.0000",...,"151,450.0000","127,568.0000","157,504.0000","103,023.0000","92,646.0000","143,620.0000","152,683.0000","154,491.0000","98,869.0000","124,921.0000","97,312.0000","153,161.0000","93,997.0000","137,829.0000",97216,153214,"159,080.0000",151170,161756,"306,490.0000","306,490.0000","306,490.0000","306,490.0000","307,510.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","307,511.0000","265,992.0000","265,992.0000","265,992.0000","265,992.0000","265,992.0000","265,992.0000"
unique,NaN,NaN,2,3,2,2,NaN,NaN,NaN,NaN,NaN,7,8,5,6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,NaN,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Cash loans,F,N,Y,NaN,NaN,NaN,NaN,NaN,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laborers,NaN,NaN,NaN,TUESDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Entity Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,reg oper account,block of flats,NaN,Panel,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,278232,202448,202924,213312,NaN,NaN,NaN,NaN,NaN,248526,158774,218391,196432,272868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55186,NaN,NaN,NaN,53901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73830,150503,NaN,66040,159428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,"278,180.5186",0.0807,NaN,NaN,NaN,NaN,0.4171,"168,797.9193","599,025.9997","27,108.5739","538,396.2074",NaN,NaN,NaN,NaN,NaN,0.0209,"-16,036.9951","63,815.0459","-4,986.1203","-2,994.2024",12.0611,1.0000,0.8199,0.1994,0.9981,0.2811,0.0567,NaN,2.1527,2.0525,2.0315,NaN,12.0634,0.0151,0.0508,0.0407,0.0782,0.2305,0.1796,NaN,0.5021,0.5144,0.5109,0.1174,0.0884,0.9777,0.7525,0.0446,0.0789,...,0.1178,0.0880,0.9778,0.7557,0.0446,0.0781,0.1492,0.2259,0.2316,0.0672,0.1020,0.1086,0.0087,0.0282,NaN,NaN,0.1025,NaN,NaN,1.4222,0.1434,1.4053,0.1000,-962.8588,0.0000,0.7100,0.0001,0.0151,0.0881,0.0002,0.0814,0.0039,0.0000,0.0039,0.0000,0.0035,0.0029,0.0012,0.0099,0.0003,0.0081,0.0006,0.0005,0.0003,0.0064,0.0070,0.0344,0.2674,0.2655,1.9000
std,"102,790.1753",0.2724,NaN,NaN,NaN,NaN,0.7221,"237,123.1463","402,490.7770","14,493.7373","369,446.4605",NaN,NaN,NaN,NaN,NaN,0.0138,"4,363.9886","141,275.7665","3,522.8863","1,509.4504",11.9448,0.0018,0.3843,0.3995,0.0432,0.4495,0.2313,NaN,0.9107,0.5090,0.5027,NaN,3.2658,0.1221,0.2195,0.1975,0.2684,0.4211,0.3838,NaN,0.2111,0.1911,0.1948,0.1082,0.0824,0.0592,0.1133,0.0760,0.1346,...,0.1091,0.0822,0.0599,0.1121,0.0761,0.1345,0.1004,0.1451,0.1619,0.0822,0.0936,0.1123,0.0474,0.0702,NaN,NaN,0.1075,NaN,NaN,2.4010,0.4467,2.3798,0.3623,826.8085,0.0065,0.4538,0.0090,0.1220,0.2834,0.0139,0.2734,0.0623,0.0048,0.0624,0.0026,0.0593,0.0541,0.0348,0.0991,0.0163,0.0898,0.0244,0.0225,0.0183,0.0838,0.1108,0.2047,0.9160,0.7941,1.8693
min,"100,002.0000",0.0000,NaN,NaN,NaN,NaN,0.0000,"25,650.0000","45,000.0000","1,615.5000","40,500.0000",NaN,NaN,NaN,NaN,NaN,0.0003,"-25,229.0000","-17,912.0000","-24,672.0000","-7,197.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,1.0000,1.0000,1.0000,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,0.0146,0.0000,0.0005,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,0.0000,NaN,NaN,0.0000,0.0000,0.0000,0.0000,"-4,292.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
25%,"189,145.5000",0.0000,NaN,NaN,NaN,NaN,0.0000,"112,500.0000","270,000.0000","16,524.0000","238,500.0000",NaN,NaN,NaN,NaN,NaN,0.0100,"-19,682.0000","-2,760.0000","-7,479.5000","-4,299.0000",5.0000,1.0000,1.0000,0.0000,1.0000,0.0000,0.0000,NaN,2.0000,2.0000,2.0000,NaN,10.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,0.3340,0.3925,0.3706,0.0577,0.0442,0.9767,0.6872,0.0078,0.0000,...,0.0583,0.0437,0.9767,0.6914,0.0079,0.0000,0.0690,0.1667,0.0833,0.0187,0.0513,0.0457,0.0000,0.0000,NaN,NaN,0.0412,NaN,NaN,0.0000,0.0000,0.0000,0.0000,"-1,570.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
50%,"278,202.0000",0.0000,NaN,NaN,NaN,NaN,0.0000,"147,150.0000","513,531.0000","24,903.0000","450,000.0000",NaN,NaN,NaN,NaN,NaN,0.0188,"-15,750.0000","-1,213.0000","-4,504.0000","-3,254.0000",9.0000,1.0000,1.0000,0.0000,1.0000,0.0000,0.0000,NaN,2.0000,2.0000,2.0000,NaN,12.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,0.5060,0.5660,0.5353,0.0876,0.0763,0.9816,0.7552,0.0211,0.0000,...,0.0864,0.0758,0.9816,0.7585,0.0208,0.0000,0.1379,0.1667,0.2083,0.0487,0.0761,0.0749,0.0000,0.0031,NaN,NaN,0.0688,NaN,NaN,0.0000,0.0000,0.0000,0.0000,-757.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000
75%,"367,142.5000",0.0000,NaN,NaN,NaN,NaN,1.0000,"202,500.0000","808,650.0000","34,596.0000","679,500.0000",NaN,NaN,NaN,NaN,NaN,0.0287,"-12,413.0000",-289.0000,"-2,010.0000","-1,720.0000",15.0000,1.0000,1.0000,0.0000,1.0000,1.0000,0.0000,NaN,3.0000,2.0000,2.0000,NaN,14.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,0.6751,0.6636,0.6691,0.1485,0.1122,0.9866,0.8232,0.0515,0.1200,...,0.1489,0.1116,0.9866,0.8256,0.0513,0.1200,0.2069,0.3333,0.3750,0.0868,0.1231,0.1303,0.0039,0.0266,NaN,NaN,0.1276,NaN,NaN,2.0000,0.0000,2.0000,0.0000,-274.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3.0000
max,"456,255.0000",1.0000,NaN,NaN,NaN,NaN,19.0000,"117,000,000.0000","4,050,000.0000","258,025.5000","4,050,000.0000",NaN,NaN,NaN,NaN,NaN,0.0725,"-7,489.0000","365,243.0000",0.0000,0.0000,91.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,NaN,20.0000,3.0000,3.0000,NaN,23.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,NaN,0.9627,0.8550,0.8960,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,...,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,NaN,NaN,1.0000,NaN,NaN,348.0000,34.0000,344.0000,24.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,4.0000,9.0000,8.0000,27.0000,261.0000,25.0000

Lier les df et agréger les données pour obtenir une ligne par client (application) => P5
- ne retenir que les variables où les données sont toujours renseignées (ou quasiment)

Entrainer des modèles de classification binaire
- en déduire les X variables les plus importantes => P4

Afficher ces X variables dans un dashboard pour expliquer la prédiction du score
- pour un client sélectionné
- en comparant par rapport aux autres clients

In [16]:
print(data_previous_application.DAYS_FIRST_DRAWING.isnull().mean())
print(data_previous_application.DAYS_FIRST_DUE.isnull().mean())
print(data_previous_application.DAYS_LAST_DUE_1ST_VERSION.isnull().mean())
print(data_previous_application.DAYS_LAST_DUE.isnull().mean())
print(data_previous_application.DAYS_TERMINATION.isnull().mean())
print(data_previous_application.AMT_DOWN_PAYMENT.isnull().mean())
print(data_previous_application.RATE_DOWN_PAYMENT.isnull().mean())

0.40298129461254667
0.40298129461254667
0.40298129461254667
0.40298129461254667
0.40298129461254667
0.536364801157217
0.536364801157217

In [17]:
print(data_bureau.AMT_CREDIT_MAX_OVERDUE.isnull().mean())
print(data_bureau.AMT_CREDIT_SUM_LIMIT.isnull().mean())
print(data_bureau.AMT_ANNUITY.isnull().mean())
data_bureau[~data_bureau.AMT_ANNUITY.isnull()]

0.6551326359159837
0.3447741472406649
0.714734902949614

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
768,380361,5715448,Active,currency 1,-820,0,"31,069.0000",NaN,NaN,0,"67,500.0000",0.0000,"67,500.0000",0.0000,Credit card,-183,0.0000
769,380361,5715449,Active,currency 1,-357,0,"1,119.0000",NaN,NaN,0,"45,000.0000",0.0000,"45,000.0000",0.0000,Credit card,-130,"2,691.0000"
770,380361,5715451,Closed,currency 1,-917,0,-187.0000,-759.0000,NaN,0,"74,439.0000",0.0000,0.0000,0.0000,Consumer credit,-748,0.0000
771,380361,5715452,Closed,currency 1,-993,0,"31,039.0000",-831.0000,NaN,0,"315,000.0000",0.0000,0.0000,0.0000,Credit card,-818,0.0000
772,380361,5715453,Closed,currency 1,-1146,0,681.0000,-780.0000,NaN,0,"2,025,000.0000",0.0000,0.0000,0.0000,Consumer credit,-769,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716285,435426,5053678,Closed,currency 1,-1147,0,-416.0000,-849.0000,0.0000,0,"205,488.0000",0.0000,0.0000,0.0000,Consumer credit,-835,"94,378.5000"
1716286,377669,5053682,Closed,currency 1,-2215,0,"-1,843.0000","-1,653.0000",NaN,0,"58,027.5000",0.0000,0.0000,0.0000,Consumer credit,-1642,0.0000
1716287,431028,5053695,Closed,currency 1,-586,0,-191.0000,-177.0000,NaN,0,"1,350,000.0000",0.0000,NaN,0.0000,Consumer credit,-176,0.0000
1716290,363575,5053740,Closed,currency 1,-1234,0,-503.0000,-502.0000,NaN,0,"900,000.0000",0.0000,0.0000,0.0000,Consumer credit,-461,"58,554.0000"
1716291,245498,5053747,Closed,currency 1,-2582,0,"-2,214.0000","-2,018.0000",0.0000,0,"49,495.5000",0.0000,0.0000,0.0000,Consumer credit,-2017,"12,600.0000"

In [18]:
data_application_test = clean_df(data_application_test)
print("data_application_test :", data_application_test.shape)

data_application_train = clean_df(data_application_train)
print("data_application_train :", data_application_train.shape)

data_bureau = clean_df(data_bureau)
print("data_bureau :", data_bureau.shape)

data_bureau_balance = clean_df(data_bureau_balance)
print("data_bureau_balance :", data_bureau_balance.shape)

data_credit_card_balance = clean_df(data_credit_card_balance)
print("data_credit_card_balance :", data_credit_card_balance.shape)

data_installments_payments = clean_df(data_installments_payments)
print("data_installments_payments :", data_installments_payments.shape)

data_POS_CASH_balance = clean_df(data_POS_CASH_balance)
print("data_POS_CASH_balance :", data_POS_CASH_balance.shape)

data_previous_application = clean_df(data_previous_application)
print("data_previous_application :", data_previous_application.shape)

data_application_test : (48744, 71)
data_application_train : (307511, 72)
data_bureau : (1716428, 13)
data_bureau_balance : (27299925, 3)
data_credit_card_balance : (3840312, 23)
data_installments_payments : (13605401, 8)
data_POS_CASH_balance : (10001358, 8)
data_previous_application : (1670214, 26)

In [19]:
data_previous_application.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'NAME_CASH_LOAN_PURPOSE', 'NAME_CONTRACT_STATUS', 'DAYS_DECISION',
       'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION'],
      dtype='object')

In [20]:
print(
    "data_application_test :",
    len(data_application_test.columns[data_application_test.isnull().mean() > 0])
    / len(data_application_test),
)

print(
    "data_application_train :",
    len(data_application_train.columns[data_application_train.isnull().mean() > 0])
    / len(data_application_train),
)

print(
    "data_bureau :",
    len(data_bureau.columns[data_bureau.isnull().mean() > 0]) / len(data_bureau),
)

print(
    "data_bureau_balance :",
    len(data_bureau_balance.columns[data_bureau_balance.isnull().mean() > 0])
    / len(data_bureau_balance),
)

print(
    "data_credit_card_balance :",
    len(data_credit_card_balance.columns[data_credit_card_balance.isnull().mean() > 0])
    / len(data_credit_card_balance),
)

print(
    "data_installments_payments :",
    len(
        data_installments_payments.columns[
            data_installments_payments.isnull().mean() > 0
        ]
    )
    / len(data_installments_payments),
)

print(
    "data_POS_CASH_balance :",
    len(data_POS_CASH_balance.columns[data_POS_CASH_balance.isnull().mean() > 0])
    / len(data_POS_CASH_balance),
)

print(
    "data_previous_application :",
    len(
        data_previous_application.columns[data_previous_application.isnull().mean() > 0]
    )
    / len(data_previous_application),
)

data_application_test : 0.0
data_application_train : 0.0
data_bureau : 0.0
data_bureau_balance : 0.0
data_credit_card_balance : 0.0
data_installments_payments : 0.0
data_POS_CASH_balance : 0.0
data_previous_application : 0.0

In [21]:
# %% [code]
# HOME CREDIT DEFAULT RISK COMPETITION
# Most features are created by applying min, max, mean, sum and var functions to grouped tables.
# Little feature selection is done and overfitting might be a problem since many features are related.
# The following key ideas were used:
# - Divide or subtract important features to get rates (like annuity and income)
# - In Bureau Data: create specific features for Active credits and Closed credits
# - In Previous Applications: create specific features for Approved and Refused applications
# - Modularity: one function for each table (except bureau_balance and application_test)
# - One-hot encoding for categorical features
# All tables are joined with the application DF using the SK_ID_CURR key (except bureau_balance).
# You can use LightGBM with KFold or Stratified KFold.

# Update 16/06/2018:
# - Added Payment Rate feature
# - Removed index from features
# - Use standard KFold CV (not stratified)

import numpy as np
import pandas as pd
import gc
import time
from contextlib import contextmanager

# from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)


# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category=False):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == "object"]
    df = pd.get_dummies(df, columns=categorical_columns, dummy_na=nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns


# Preprocess application_train.csv and application_test.csv
def application_train_test(num_rows=None, nan_as_category=False):
    # Read data and merge
    df = data_application_train
    # test_df = data_application_test
    # print("Train samples: {}, test samples: {}".format(len(df), len(test_df)))
    # df = df.append(test_df).reset_index()
    # Optional: Remove 4 applications with XNA CODE_GENDER (train set)
    df = df[df["CODE_GENDER"] != "XNA"]

    # Categorical features with Binary encode (0 or 1; two categories)
    for bin_feature in ["CODE_GENDER", "FLAG_OWN_CAR", "FLAG_OWN_REALTY"]:
        df[bin_feature], uniques = pd.factorize(df[bin_feature])
    # Categorical features with One-Hot encode
    df, cat_cols = one_hot_encoder(df, nan_as_category)

    # NaN values for DAYS_EMPLOYED: 365.243 -> nan
    df["DAYS_EMPLOYED"].replace(365243, np.nan, inplace=True)
    # Some simple new features (percentages)
    df["DAYS_EMPLOYED_PERC"] = df["DAYS_EMPLOYED"] / df["DAYS_BIRTH"]
    df["INCOME_CREDIT_PERC"] = df["AMT_INCOME_TOTAL"] / df["AMT_CREDIT"]
    df["INCOME_PER_PERSON"] = df["AMT_INCOME_TOTAL"] / df["CNT_FAM_MEMBERS"]
    df["ANNUITY_INCOME_PERC"] = df["AMT_ANNUITY"] / df["AMT_INCOME_TOTAL"]
    df["PAYMENT_RATE"] = df["AMT_ANNUITY"] / df["AMT_CREDIT"]
    # del test_df
    gc.collect()
    return df


# Preprocess bureau.csv and bureau_balance.csv
def bureau_and_balance(num_rows=None, nan_as_category=False):
    bureau = data_bureau
    bb = data_bureau_balance
    bb, bb_cat = one_hot_encoder(bb, nan_as_category)
    bureau, bureau_cat = one_hot_encoder(bureau, nan_as_category)

    # Bureau balance: Perform aggregations and merge with bureau.csv
    bb_aggregations = {"MONTHS_BALANCE": ["min", "max", "size"]}
    for col in bb_cat:
        bb_aggregations[col] = ["mean"]
    bb_agg = bb.groupby("SK_ID_BUREAU").agg(bb_aggregations)
    bb_agg.columns = pd.Index(
        [e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()]
    )
    bureau = bureau.join(bb_agg, how="left", on="SK_ID_BUREAU")
    bureau.drop(["SK_ID_BUREAU"], axis=1, inplace=True)
    del bb, bb_agg
    gc.collect()

    # Bureau and bureau_balance numeric features
    num_aggregations = {
        "DAYS_CREDIT": ["min", "max", "mean", "var"],
        "DAYS_CREDIT_ENDDATE": ["min", "max", "mean"],
        "DAYS_CREDIT_UPDATE": ["mean"],
        "CREDIT_DAY_OVERDUE": ["max", "mean"],
        # "AMT_CREDIT_MAX_OVERDUE": ["mean"],
        "AMT_CREDIT_SUM": ["max", "mean", "sum"],
        "AMT_CREDIT_SUM_DEBT": ["max", "mean", "sum"],
        "AMT_CREDIT_SUM_OVERDUE": ["mean"],
        # "AMT_CREDIT_SUM_LIMIT": ["mean", "sum"],
        # "AMT_ANNUITY": ["max", "mean"],
        "CNT_CREDIT_PROLONG": ["sum"],
        "MONTHS_BALANCE_MIN": ["min"],
        "MONTHS_BALANCE_MAX": ["max"],
        "MONTHS_BALANCE_SIZE": ["mean", "sum"],
    }
    # Bureau and bureau_balance categorical features
    cat_aggregations = {}
    for cat in bureau_cat:
        cat_aggregations[cat] = ["mean"]
    for cat in bb_cat:
        cat_aggregations[cat + "_MEAN"] = ["mean"]

    bureau_agg = bureau.groupby("SK_ID_CURR").agg(
        {**num_aggregations, **cat_aggregations}
    )
    bureau_agg.columns = pd.Index(
        ["BURO_" + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()]
    )
    # Bureau: Active credits - using only numerical aggregations
    active = bureau[bureau["CREDIT_ACTIVE_Active"] == 1]
    active_agg = active.groupby("SK_ID_CURR").agg(num_aggregations)
    active_agg.columns = pd.Index(
        ["ACTIVE_" + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()]
    )
    bureau_agg = bureau_agg.join(active_agg, how="left", on="SK_ID_CURR")
    del active, active_agg
    gc.collect()
    # Bureau: Closed credits - using only numerical aggregations
    closed = bureau[bureau["CREDIT_ACTIVE_Closed"] == 1]
    closed_agg = closed.groupby("SK_ID_CURR").agg(num_aggregations)
    closed_agg.columns = pd.Index(
        ["CLOSED_" + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()]
    )
    bureau_agg = bureau_agg.join(closed_agg, how="left", on="SK_ID_CURR")
    del closed, closed_agg, bureau
    gc.collect()
    return bureau_agg


# Preprocess previous_applications.csv
def previous_applications(num_rows=None, nan_as_category=False):
    prev = data_previous_application
    prev, cat_cols = one_hot_encoder(prev, nan_as_category)
    # Days 365.243 values -> nan
    # prev["DAYS_FIRST_DRAWING"].replace(365243, np.nan, inplace=True)
    # prev["DAYS_FIRST_DUE"].replace(365243, np.nan, inplace=True)
    # prev["DAYS_LAST_DUE_1ST_VERSION"].replace(365243, np.nan, inplace=True)
    # prev["DAYS_LAST_DUE"].replace(365243, np.nan, inplace=True)
    # prev["DAYS_TERMINATION"].replace(365243, np.nan, inplace=True)
    # Add feature: value ask / value received percentage
    prev["APP_CREDIT_PERC"] = prev["AMT_APPLICATION"] / prev["AMT_CREDIT"]
    # Previous applications numeric features
    num_aggregations = {
        "AMT_ANNUITY": ["min", "max", "mean"],
        "AMT_APPLICATION": ["min", "max", "mean"],
        "AMT_CREDIT": ["min", "max", "mean"],
        "APP_CREDIT_PERC": ["min", "max", "mean", "var"],
        # "AMT_DOWN_PAYMENT": ["min", "max", "mean"],
        "AMT_GOODS_PRICE": ["min", "max", "mean"],
        "HOUR_APPR_PROCESS_START": ["min", "max", "mean"],
        # "RATE_DOWN_PAYMENT": ["min", "max", "mean"],
        "DAYS_DECISION": ["min", "max", "mean"],
        "CNT_PAYMENT": ["mean", "sum"],
    }
    # Previous applications categorical features
    cat_aggregations = {}
    for cat in cat_cols:
        cat_aggregations[cat] = ["mean"]

    prev_agg = prev.groupby("SK_ID_CURR").agg({**num_aggregations, **cat_aggregations})
    prev_agg.columns = pd.Index(
        ["PREV_" + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()]
    )
    # Previous Applications: Approved Applications - only numerical features
    approved = prev[prev["NAME_CONTRACT_STATUS_Approved"] == 1]
    approved_agg = approved.groupby("SK_ID_CURR").agg(num_aggregations)
    approved_agg.columns = pd.Index(
        ["APPROVED_" + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()]
    )
    prev_agg = prev_agg.join(approved_agg, how="left", on="SK_ID_CURR")
    # Previous Applications: Refused Applications - only numerical features
    refused = prev[prev["NAME_CONTRACT_STATUS_Refused"] == 1]
    refused_agg = refused.groupby("SK_ID_CURR").agg(num_aggregations)
    refused_agg.columns = pd.Index(
        ["REFUSED_" + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()]
    )
    prev_agg = prev_agg.join(refused_agg, how="left", on="SK_ID_CURR")
    del refused, refused_agg, approved, approved_agg, prev
    gc.collect()
    return prev_agg


# Preprocess POS_CASH_balance.csv
def pos_cash(num_rows=None, nan_as_category=False):
    pos = data_POS_CASH_balance
    pos, cat_cols = one_hot_encoder(pos, nan_as_category)
    # Features
    aggregations = {
        "MONTHS_BALANCE": ["max", "mean", "size"],
        "SK_DPD": ["max", "mean"],
        "SK_DPD_DEF": ["max", "mean"],
    }
    for cat in cat_cols:
        aggregations[cat] = ["mean"]

    pos_agg = pos.groupby("SK_ID_CURR").agg(aggregations)
    pos_agg.columns = pd.Index(
        ["POS_" + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()]
    )
    # Count pos cash accounts
    pos_agg["POS_COUNT"] = pos.groupby("SK_ID_CURR").size()
    del pos
    gc.collect()
    return pos_agg


# Preprocess installments_payments.csv
def installments_payments(num_rows=None, nan_as_category=False):
    ins = data_installments_payments
    ins, cat_cols = one_hot_encoder(ins, nan_as_category)
    # Percentage and difference paid in each installment (amount paid and installment value)
    ins["PAYMENT_PERC"] = ins["AMT_PAYMENT"] / ins["AMT_INSTALMENT"]
    ins["PAYMENT_DIFF"] = ins["AMT_INSTALMENT"] - ins["AMT_PAYMENT"]
    # Days past due and days before due (no negative values)
    ins["DPD"] = ins["DAYS_ENTRY_PAYMENT"] - ins["DAYS_INSTALMENT"]
    ins["DBD"] = ins["DAYS_INSTALMENT"] - ins["DAYS_ENTRY_PAYMENT"]
    ins["DPD"] = ins["DPD"].apply(lambda x: x if x > 0 else 0)
    ins["DBD"] = ins["DBD"].apply(lambda x: x if x > 0 else 0)
    # Features: Perform aggregations
    aggregations = {
        "NUM_INSTALMENT_VERSION": ["nunique"],
        "DPD": ["max", "mean", "sum"],
        "DBD": ["max", "mean", "sum"],
        "PAYMENT_PERC": ["max", "mean", "sum", "var"],
        "PAYMENT_DIFF": ["max", "mean", "sum", "var"],
        "AMT_INSTALMENT": ["max", "mean", "sum"],
        "AMT_PAYMENT": ["min", "max", "mean", "sum"],
        "DAYS_ENTRY_PAYMENT": ["max", "mean", "sum"],
    }
    for cat in cat_cols:
        aggregations[cat] = ["mean"]
    ins_agg = ins.groupby("SK_ID_CURR").agg(aggregations)
    ins_agg.columns = pd.Index(
        ["INSTAL_" + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()]
    )
    # Count installments accounts
    ins_agg["INSTAL_COUNT"] = ins.groupby("SK_ID_CURR").size()
    del ins
    gc.collect()
    return ins_agg


# Preprocess credit_card_balance.csv
def credit_card_balance(num_rows=None, nan_as_category=False):
    cc = data_credit_card_balance
    cc, cat_cols = one_hot_encoder(cc, nan_as_category)
    # General aggregations
    cc.drop(["SK_ID_PREV"], axis=1, inplace=True)
    cc_agg = cc.groupby("SK_ID_CURR").agg(["min", "max", "mean", "sum", "var"])
    cc_agg.columns = pd.Index(
        ["CC_" + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()]
    )
    # Count credit card lines
    cc_agg["CC_COUNT"] = cc.groupby("SK_ID_CURR").size()
    del cc
    gc.collect()
    return cc_agg

In [22]:
df = application_train_test()
print(df.shape)

bureau_agg = bureau_and_balance()
print(bureau_agg.shape)

prev_agg = previous_applications()
print(prev_agg.shape)

pos_agg = pos_cash()
print(pos_agg.shape)

ins_agg = installments_payments()
print(ins_agg.shape)

cc_agg = credit_card_balance()
print(cc_agg.shape)

C:\Users\bruno\AppData\Local\Temp\ipykernel_8524\3516951796.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[bin_feature], uniques = pd.factorize(df[bin_feature])

(307507, 168)
(305811, 97)
(338857, 208)
(337252, 17)
(339587, 26)
(103558, 136)

In [23]:
df.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,...,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 1,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 12,ORGANIZATION_TYPE_Industry: type 13,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 7,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Legal Services,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_Police,ORGANIZATION_TYPE_Postal,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Security Ministries,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Services,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,ANNUITY_INCOME_PERC,PAYMENT_RATE
0,100002,1,0,0,0,0,"202,500.0000","406,597.5000","24,700.5000","351,000.0000",0.0188,-9461,-637.0000,"-3,648.0000",-2120,1,1,0,1,1,0,1.0000,2,2,10,0,0,0,0,0,0,0.2629,0.1394,2.0000,2.0000,2.0000,2.0000,"-1,134.0000",0,1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0673,0.4980,"202,500.0000",0.1220,0.0607
1,100003,0,1,0,1,0,"270,000.0000","1,293,502.5000","35,698.5000","1,129,500.0000",0.0035,-16765,"-1,188.0000","-1,186.0000",-291,1,1,0,1,1,0,2.0000,1,1,11,0,0,0,0,0,0,0.6222,0.5353,1.0000,0.0000,1.0000,0.0000,-828.0000,0,1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0709,0.2087,"135,000.0000",0.1322,0.0276
2,100004,0,0,1,0,0,"67,500.0000","135,000.0000","6,750.0000","135,000.0000",0.0100,-19046,-225.0000,"-4,260.0000",-2531,1,1,1,1,1,0,1.0000,2,2,9,0,0,0,0,0,0,0.5559,0.7296,0.0000,0.0000,0.0000,0.0000,-815.0000,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0118,0.5000,"67,500.0000",0.1000,0.0500
3,100006,0,1,0,0,0,"135,000.0000","312,682.5000","29,686.5000","297,000.0000",0.0080,-19005,"-3,039.0000","-9,833.0000",-2437,1,1,0,1,0,0,2.0000,2,2,17,0,0,0,0,0,0,0.6504,0.5353,2.0000,0.0000,2.0000,0.0000,-617.0000,0,1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.1599,0.4317,"67,500.0000",0.2199,0.0949
4,100007,0,0,0,0,0,"121,500.0000","513,000.0000","21,865.5000","513,000.0000",0.0287,-19932,"-3,038.0000","-4,311.0000",-3458,1,1,0,1,0,0,1.0000,2,2,11,0,0,0,0,1,1,0.3227,0.5353,0.0000,0.0000,0.0000,0.0000,"-1,106.0000",0,0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.1524,0.2368,"121,500.0000",0.1800,0.0426

In [24]:
data_merged = pd.merge(df, bureau_agg, on="SK_ID_CURR", how="left")
data_merged = pd.merge(data_merged, prev_agg, on="SK_ID_CURR", how="left")
data_merged = pd.merge(data_merged, pos_agg, on="SK_ID_CURR", how="left")
data_merged = pd.merge(data_merged, ins_agg, on="SK_ID_CURR", how="left")
data_merged = pd.merge(data_merged, cc_agg, on="SK_ID_CURR", how="left")

In [25]:
data_merged.shape

(307507, 652)

In [26]:
empty_cols = data_merged.columns[data_merged.isnull().mean() > 0].to_list()
len(empty_cols) / len(data_merged.columns)

0.745398773006135

In [27]:
empty_cols

['DAYS_EMPLOYED',
 'DAYS_EMPLOYED_PERC',
 'BURO_DAYS_CREDIT_MIN',
 'BURO_DAYS_CREDIT_MAX',
 'BURO_DAYS_CREDIT_MEAN',
 'BURO_DAYS_CREDIT_VAR',
 'BURO_DAYS_CREDIT_ENDDATE_MIN',
 'BURO_DAYS_CREDIT_ENDDATE_MAX',
 'BURO_DAYS_CREDIT_ENDDATE_MEAN',
 'BURO_DAYS_CREDIT_UPDATE_MEAN',
 'BURO_CREDIT_DAY_OVERDUE_MAX',
 'BURO_CREDIT_DAY_OVERDUE_MEAN',
 'BURO_AMT_CREDIT_SUM_MAX',
 'BURO_AMT_CREDIT_SUM_MEAN',
 'BURO_AMT_CREDIT_SUM_SUM',
 'BURO_AMT_CREDIT_SUM_DEBT_MAX',
 'BURO_AMT_CREDIT_SUM_DEBT_MEAN',
 'BURO_AMT_CREDIT_SUM_DEBT_SUM',
 'BURO_AMT_CREDIT_SUM_OVERDUE_MEAN',
 'BURO_CNT_CREDIT_PROLONG_SUM',
 'BURO_MONTHS_BALANCE_MIN_MIN',
 'BURO_MONTHS_BALANCE_MAX_MAX',
 'BURO_MONTHS_BALANCE_SIZE_MEAN',
 'BURO_MONTHS_BALANCE_SIZE_SUM',
 'BURO_CREDIT_ACTIVE_Active_MEAN',
 'BURO_CREDIT_ACTIVE_Bad debt_MEAN',
 'BURO_CREDIT_ACTIVE_Closed_MEAN',
 'BURO_CREDIT_ACTIVE_Sold_MEAN',
 'BURO_CREDIT_CURRENCY_currency 1_MEAN',
 'BURO_CREDIT_CURRENCY_currency 2_MEAN',
 'BURO_CREDIT_CURRENCY_currency 3_MEAN',
 'BURO_CREDIT_CURRENCY_currency 4_MEAN',
 'BURO_CREDIT_TYPE_Another type of loan_MEAN',
 'BURO_CREDIT_TYPE_Car loan_MEAN',
 'BURO_CREDIT_TYPE_Cash loan (non-earmarked)_MEAN',
 'BURO_CREDIT_TYPE_Consumer credit_MEAN',
 'BURO_CREDIT_TYPE_Credit card_MEAN',
 'BURO_CREDIT_TYPE_Interbank credit_MEAN',
 'BURO_CREDIT_TYPE_Loan for business development_MEAN',
 'BURO_CREDIT_TYPE_Loan for purchase of shares (margin lending)_MEAN',
 'BURO_CREDIT_TYPE_Loan for the purchase of equipment_MEAN',
 'BURO_CREDIT_TYPE_Loan for working capital replenishment_MEAN',
 'BURO_CREDIT_TYPE_Microloan_MEAN',
 'BURO_CREDIT_TYPE_Mobile operator loan_MEAN',
 'BURO_CREDIT_TYPE_Mortgage_MEAN',
 'BURO_CREDIT_TYPE_Real estate loan_MEAN',
 'BURO_CREDIT_TYPE_Unknown type of loan_MEAN',
 'BURO_STATUS_0_MEAN_MEAN',
 'BURO_STATUS_1_MEAN_MEAN',
 'BURO_STATUS_2_MEAN_MEAN',
 'BURO_STATUS_3_MEAN_MEAN',
 'BURO_STATUS_4_MEAN_MEAN',
 'BURO_STATUS_5_MEAN_MEAN',
 'BURO_STATUS_C_MEAN_MEAN',
 'BURO_STATUS_X_MEAN_MEAN',
 'ACTIVE_DAYS_CREDIT_MIN',
 'ACTIVE_DAYS_CREDIT_MAX',
 'ACTIVE_DAYS_CREDIT_MEAN',
 'ACTIVE_DAYS_CREDIT_VAR',
 'ACTIVE_DAYS_CREDIT_ENDDATE_MIN',
 'ACTIVE_DAYS_CREDIT_ENDDATE_MAX',
 'ACTIVE_DAYS_CREDIT_ENDDATE_MEAN',
 'ACTIVE_DAYS_CREDIT_UPDATE_MEAN',
 'ACTIVE_CREDIT_DAY_OVERDUE_MAX',
 'ACTIVE_CREDIT_DAY_OVERDUE_MEAN',
 'ACTIVE_AMT_CREDIT_SUM_MAX',
 'ACTIVE_AMT_CREDIT_SUM_MEAN',
 'ACTIVE_AMT_CREDIT_SUM_SUM',
 'ACTIVE_AMT_CREDIT_SUM_DEBT_MAX',
 'ACTIVE_AMT_CREDIT_SUM_DEBT_MEAN',
 'ACTIVE_AMT_CREDIT_SUM_DEBT_SUM',
 'ACTIVE_AMT_CREDIT_SUM_OVERDUE_MEAN',
 'ACTIVE_CNT_CREDIT_PROLONG_SUM',
 'ACTIVE_MONTHS_BALANCE_MIN_MIN',
 'ACTIVE_MONTHS_BALANCE_MAX_MAX',
 'ACTIVE_MONTHS_BALANCE_SIZE_MEAN',
 'ACTIVE_MONTHS_BALANCE_SIZE_SUM',
 'CLOSED_DAYS_CREDIT_MIN',
 'CLOSED_DAYS_CREDIT_MAX',
 'CLOSED_DAYS_CREDIT_MEAN',
 'CLOSED_DAYS_CREDIT_VAR',
 'CLOSED_DAYS_CREDIT_ENDDATE_MIN',
 'CLOSED_DAYS_CREDIT_ENDDATE_MAX',
 'CLOSED_DAYS_CREDIT_ENDDATE_MEAN',
 'CLOSED_DAYS_CREDIT_UPDATE_MEAN',
 'CLOSED_CREDIT_DAY_OVERDUE_MAX',
 'CLOSED_CREDIT_DAY_OVERDUE_MEAN',
 'CLOSED_AMT_CREDIT_SUM_MAX',
 'CLOSED_AMT_CREDIT_SUM_MEAN',
 'CLOSED_AMT_CREDIT_SUM_SUM',
 'CLOSED_AMT_CREDIT_SUM_DEBT_MAX',
 'CLOSED_AMT_CREDIT_SUM_DEBT_MEAN',
 'CLOSED_AMT_CREDIT_SUM_DEBT_SUM',
 'CLOSED_AMT_CREDIT_SUM_OVERDUE_MEAN',
 'CLOSED_CNT_CREDIT_PROLONG_SUM',
 'CLOSED_MONTHS_BALANCE_MIN_MIN',
 'CLOSED_MONTHS_BALANCE_MAX_MAX',
 'CLOSED_MONTHS_BALANCE_SIZE_MEAN',
 'CLOSED_MONTHS_BALANCE_SIZE_SUM',
 'PREV_AMT_ANNUITY_MIN',
 'PREV_AMT_ANNUITY_MAX',
 'PREV_AMT_ANNUITY_MEAN',
 'PREV_AMT_APPLICATION_MIN',
 'PREV_AMT_APPLICATION_MAX',
 'PREV_AMT_APPLICATION_MEAN',
 'PREV_AMT_CREDIT_MIN',
 'PREV_AMT_CREDIT_MAX',
 'PREV_AMT_CREDIT_MEAN',
 'PREV_APP_CREDIT_PERC_MIN',
 'PREV_APP_CREDIT_PERC_MAX',
 'PREV_APP_CREDIT_PERC_MEAN',
 'PREV_APP_CREDIT_PERC_VAR',
 'PREV_AMT_GOODS_PRICE_MIN',
 'PREV_AMT_GOODS_PRICE_MAX',
 'PREV_AMT_GOODS_PRICE_MEAN',
 'PREV_HOUR_APPR_PROCESS_START_MIN',
 'PREV_HOUR_APPR_PROCESS_START_MAX',
 'PREV_HOUR_APPR_PROCESS_START_MEAN',
 'PREV_DAYS_DECISION_MIN',
 'PREV_DAYS_DECISION_MAX',
 'PREV_DAYS_DECISION_MEAN',
 'PREV_CNT_PAYMENT_MEAN',
 'PREV_CNT_PAYMENT_SUM',
 'PREV_NAME_CONTRACT_TYPE_Cash loans_MEAN',
 'PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN',
 'PREV_NAME_CONTRACT_TYPE_Revolving loans_MEAN',
 'PREV_NAME_CONTRACT_TYPE_XNA_MEAN',
 'PREV_WEEKDAY_APPR_PROCESS_START_FRIDAY_MEAN',
 'PREV_WEEKDAY_APPR_PROCESS_START_MONDAY_MEAN',
 'PREV_WEEKDAY_APPR_PROCESS_START_SATURDAY_MEAN',
 'PREV_WEEKDAY_APPR_PROCESS_START_SUNDAY_MEAN',
 'PREV_WEEKDAY_APPR_PROCESS_START_THURSDAY_MEAN',
 'PREV_WEEKDAY_APPR_PROCESS_START_TUESDAY_MEAN',
 'PREV_WEEKDAY_APPR_PROCESS_START_WEDNESDAY_MEAN',
 'PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN',
 'PREV_FLAG_LAST_APPL_PER_CONTRACT_Y_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Building a house or an annex_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Business development_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Buying a garage_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Buying a home_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Buying a new car_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Buying a used car_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Car repairs_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Education_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Everyday expenses_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Furniture_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Gasification / water supply_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Hobby_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Journey_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Medicine_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Money for a third person_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Other_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Payments on other loans_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Refusal to name the goal_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Repairs_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Urgent needs_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_XAP_MEAN',
 'PREV_NAME_CASH_LOAN_PURPOSE_XNA_MEAN',
 'PREV_NAME_CONTRACT_STATUS_Approved_MEAN',
 'PREV_NAME_CONTRACT_STATUS_Canceled_MEAN',
 'PREV_NAME_CONTRACT_STATUS_Refused_MEAN',
 'PREV_NAME_CONTRACT_STATUS_Unused offer_MEAN',
 'PREV_NAME_PAYMENT_TYPE_Cash through the bank_MEAN',
 'PREV_NAME_PAYMENT_TYPE_Cashless from the account of the employer_MEAN',
 'PREV_NAME_PAYMENT_TYPE_Non-cash from your account_MEAN',
 'PREV_NAME_PAYMENT_TYPE_XNA_MEAN',
 'PREV_CODE_REJECT_REASON_CLIENT_MEAN',
 'PREV_CODE_REJECT_REASON_HC_MEAN',
 'PREV_CODE_REJECT_REASON_LIMIT_MEAN',
 'PREV_CODE_REJECT_REASON_SCO_MEAN',
 'PREV_CODE_REJECT_REASON_SCOFR_MEAN',
 'PREV_CODE_REJECT_REASON_SYSTEM_MEAN',
 'PREV_CODE_REJECT_REASON_VERIF_MEAN',
 'PREV_CODE_REJECT_REASON_XAP_MEAN',
 'PREV_CODE_REJECT_REASON_XNA_MEAN',
 'PREV_NAME_CLIENT_TYPE_New_MEAN',
 'PREV_NAME_CLIENT_TYPE_Refreshed_MEAN',
 'PREV_NAME_CLIENT_TYPE_Repeater_MEAN',
 'PREV_NAME_CLIENT_TYPE_XNA_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Additional Service_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Animals_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Audio/Video_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Auto Accessories_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Clothing and Accessories_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Computers_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Construction Materials_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Consumer Electronics_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Direct Sales_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Education_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Fitness_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Furniture_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Gardening_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Homewares_MEAN',
 'PREV_NAME_GOODS_CATEGORY_House Construction_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Insurance_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Jewelry_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Medical Supplies_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Medicine_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Mobile_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Office Appliances_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Other_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Photo / Cinema Equipment_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Sport and Leisure_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Tourism_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Vehicles_MEAN',
 'PREV_NAME_GOODS_CATEGORY_Weapon_MEAN',
 'PREV_NAME_GOODS_CATEGORY_XNA_MEAN',
 'PREV_NAME_PORTFOLIO_Cards_MEAN',
 'PREV_NAME_PORTFOLIO_Cars_MEAN',
 'PREV_NAME_PORTFOLIO_Cash_MEAN',
 'PREV_NAME_PORTFOLIO_POS_MEAN',
 'PREV_NAME_PORTFOLIO_XNA_MEAN',
 'PREV_NAME_PRODUCT_TYPE_XNA_MEAN',
 'PREV_NAME_PRODUCT_TYPE_walk-in_MEAN',
 'PREV_NAME_PRODUCT_TYPE_x-sell_MEAN',
 'PREV_CHANNEL_TYPE_AP+ (Cash loan)_MEAN',
 'PREV_CHANNEL_TYPE_Car dealer_MEAN',
 'PREV_CHANNEL_TYPE_Channel of corporate sales_MEAN',
 'PREV_CHANNEL_TYPE_Contact center_MEAN',
 'PREV_CHANNEL_TYPE_Country-wide_MEAN',
 'PREV_CHANNEL_TYPE_Credit and cash offices_MEAN',
 'PREV_CHANNEL_TYPE_Regional / Local_MEAN',
 'PREV_CHANNEL_TYPE_Stone_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Auto technology_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Clothing_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Connectivity_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Construction_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Consumer electronics_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Furniture_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Industry_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Jewelry_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_MLM partners_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_Tourism_MEAN',
 'PREV_NAME_SELLER_INDUSTRY_XNA_MEAN',
 'PREV_NAME_YIELD_GROUP_XNA_MEAN',
 'PREV_NAME_YIELD_GROUP_high_MEAN',
 'PREV_NAME_YIELD_GROUP_low_action_MEAN',
 'PREV_NAME_YIELD_GROUP_low_normal_MEAN',
 'PREV_NAME_YIELD_GROUP_middle_MEAN',
 'PREV_PRODUCT_COMBINATION_Card Street_MEAN',
 'PREV_PRODUCT_COMBINATION_Card X-Sell_MEAN',
 'PREV_PRODUCT_COMBINATION_Cash_MEAN',
 'PREV_PRODUCT_COMBINATION_Cash Street: high_MEAN',
 'PREV_PRODUCT_COMBINATION_Cash Street: low_MEAN',
 'PREV_PRODUCT_COMBINATION_Cash Street: middle_MEAN',
 'PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN',
 'PREV_PRODUCT_COMBINATION_Cash X-Sell: low_MEAN',
 'PREV_PRODUCT_COMBINATION_Cash X-Sell: middle_MEAN',
 'PREV_PRODUCT_COMBINATION_POS household with interest_MEAN',
 'PREV_PRODUCT_COMBINATION_POS household without interest_MEAN',
 'PREV_PRODUCT_COMBINATION_POS industry with interest_MEAN',
 'PREV_PRODUCT_COMBINATION_POS industry without interest_MEAN',
 'PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN',
 'PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN',
 'PREV_PRODUCT_COMBINATION_POS other with interest_MEAN',
 'PREV_PRODUCT_COMBINATION_POS others without interest_MEAN',
 'APPROVED_AMT_ANNUITY_MIN',
 'APPROVED_AMT_ANNUITY_MAX',
 'APPROVED_AMT_ANNUITY_MEAN',
 'APPROVED_AMT_APPLICATION_MIN',
 'APPROVED_AMT_APPLICATION_MAX',
 'APPROVED_AMT_APPLICATION_MEAN',
 'APPROVED_AMT_CREDIT_MIN',
 'APPROVED_AMT_CREDIT_MAX',
 'APPROVED_AMT_CREDIT_MEAN',
 'APPROVED_APP_CREDIT_PERC_MIN',
 'APPROVED_APP_CREDIT_PERC_MAX',
 'APPROVED_APP_CREDIT_PERC_MEAN',
 'APPROVED_APP_CREDIT_PERC_VAR',
 'APPROVED_AMT_GOODS_PRICE_MIN',
 'APPROVED_AMT_GOODS_PRICE_MAX',
 'APPROVED_AMT_GOODS_PRICE_MEAN',
 'APPROVED_HOUR_APPR_PROCESS_START_MIN',
 'APPROVED_HOUR_APPR_PROCESS_START_MAX',
 'APPROVED_HOUR_APPR_PROCESS_START_MEAN',
 'APPROVED_DAYS_DECISION_MIN',
 'APPROVED_DAYS_DECISION_MAX',
 'APPROVED_DAYS_DECISION_MEAN',
 'APPROVED_CNT_PAYMENT_MEAN',
 'APPROVED_CNT_PAYMENT_SUM',
 'REFUSED_AMT_ANNUITY_MIN',
 'REFUSED_AMT_ANNUITY_MAX',
 'REFUSED_AMT_ANNUITY_MEAN',
 'REFUSED_AMT_APPLICATION_MIN',
 'REFUSED_AMT_APPLICATION_MAX',
 'REFUSED_AMT_APPLICATION_MEAN',
 'REFUSED_AMT_CREDIT_MIN',
 'REFUSED_AMT_CREDIT_MAX',
 'REFUSED_AMT_CREDIT_MEAN',
 'REFUSED_APP_CREDIT_PERC_MIN',
 'REFUSED_APP_CREDIT_PERC_MAX',
 'REFUSED_APP_CREDIT_PERC_MEAN',
 'REFUSED_APP_CREDIT_PERC_VAR',
 'REFUSED_AMT_GOODS_PRICE_MIN',
 'REFUSED_AMT_GOODS_PRICE_MAX',
 'REFUSED_AMT_GOODS_PRICE_MEAN',
 'REFUSED_HOUR_APPR_PROCESS_START_MIN',
 'REFUSED_HOUR_APPR_PROCESS_START_MAX',
 'REFUSED_HOUR_APPR_PROCESS_START_MEAN',
 'REFUSED_DAYS_DECISION_MIN',
 'REFUSED_DAYS_DECISION_MAX',
 'REFUSED_DAYS_DECISION_MEAN',
 'REFUSED_CNT_PAYMENT_MEAN',
 'REFUSED_CNT_PAYMENT_SUM',
 'POS_MONTHS_BALANCE_MAX',
 'POS_MONTHS_BALANCE_MEAN',
 'POS_MONTHS_BALANCE_SIZE',
 'POS_SK_DPD_MAX',
 'POS_SK_DPD_MEAN',
 'POS_SK_DPD_DEF_MAX',
 'POS_SK_DPD_DEF_MEAN',
 'POS_NAME_CONTRACT_STATUS_Active_MEAN',
 'POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN',
 'POS_NAME_CONTRACT_STATUS_Approved_MEAN',
 'POS_NAME_CONTRACT_STATUS_Canceled_MEAN',
 'POS_NAME_CONTRACT_STATUS_Completed_MEAN',
 'POS_NAME_CONTRACT_STATUS_Demand_MEAN',
 'POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN',
 'POS_NAME_CONTRACT_STATUS_Signed_MEAN',
 'POS_NAME_CONTRACT_STATUS_XNA_MEAN',
 'POS_COUNT',
 'INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE',
 'INSTAL_DPD_MAX',
 'INSTAL_DPD_MEAN',
 'INSTAL_DPD_SUM',
 'INSTAL_DBD_MAX',
 'INSTAL_DBD_MEAN',
 'INSTAL_DBD_SUM',
 'INSTAL_PAYMENT_PERC_MAX',
 'INSTAL_PAYMENT_PERC_MEAN',
 'INSTAL_PAYMENT_PERC_SUM',
 'INSTAL_PAYMENT_PERC_VAR',
 'INSTAL_PAYMENT_DIFF_MAX',
 'INSTAL_PAYMENT_DIFF_MEAN',
 'INSTAL_PAYMENT_DIFF_SUM',
 'INSTAL_PAYMENT_DIFF_VAR',
 'INSTAL_AMT_INSTALMENT_MAX',
 'INSTAL_AMT_INSTALMENT_MEAN',
 'INSTAL_AMT_INSTALMENT_SUM',
 'INSTAL_AMT_PAYMENT_MIN',
 'INSTAL_AMT_PAYMENT_MAX',
 'INSTAL_AMT_PAYMENT_MEAN',
 'INSTAL_AMT_PAYMENT_SUM',
 'INSTAL_DAYS_ENTRY_PAYMENT_MAX',
 'INSTAL_DAYS_ENTRY_PAYMENT_MEAN',
 'INSTAL_DAYS_ENTRY_PAYMENT_SUM',
 'INSTAL_COUNT',
 'CC_MONTHS_BALANCE_MIN',
 'CC_MONTHS_BALANCE_MAX',
 'CC_MONTHS_BALANCE_MEAN',
 'CC_MONTHS_BALANCE_SUM',
 'CC_MONTHS_BALANCE_VAR',
 'CC_AMT_BALANCE_MIN',
 'CC_AMT_BALANCE_MAX',
 'CC_AMT_BALANCE_MEAN',
 'CC_AMT_BALANCE_SUM',
 'CC_AMT_BALANCE_VAR',
 'CC_AMT_CREDIT_LIMIT_ACTUAL_MIN',
 'CC_AMT_CREDIT_LIMIT_ACTUAL_MAX',
 'CC_AMT_CREDIT_LIMIT_ACTUAL_MEAN',
 'CC_AMT_CREDIT_LIMIT_ACTUAL_SUM',
 'CC_AMT_CREDIT_LIMIT_ACTUAL_VAR',
 'CC_AMT_DRAWINGS_ATM_CURRENT_MIN',
 'CC_AMT_DRAWINGS_ATM_CURRENT_MAX',
 'CC_AMT_DRAWINGS_ATM_CURRENT_MEAN',
 'CC_AMT_DRAWINGS_ATM_CURRENT_SUM',
 'CC_AMT_DRAWINGS_ATM_CURRENT_VAR',
 'CC_AMT_DRAWINGS_CURRENT_MIN',
 'CC_AMT_DRAWINGS_CURRENT_MAX',
 'CC_AMT_DRAWINGS_CURRENT_MEAN',
 'CC_AMT_DRAWINGS_CURRENT_SUM',
 'CC_AMT_DRAWINGS_CURRENT_VAR',
 'CC_AMT_DRAWINGS_OTHER_CURRENT_MIN',
 'CC_AMT_DRAWINGS_OTHER_CURRENT_MAX',
 'CC_AMT_DRAWINGS_OTHER_CURRENT_MEAN',
 'CC_AMT_DRAWINGS_OTHER_CURRENT_SUM',
 'CC_AMT_DRAWINGS_OTHER_CURRENT_VAR',
 'CC_AMT_DRAWINGS_POS_CURRENT_MIN',
 'CC_AMT_DRAWINGS_POS_CURRENT_MAX',
 'CC_AMT_DRAWINGS_POS_CURRENT_MEAN',
 'CC_AMT_DRAWINGS_POS_CURRENT_SUM',
 'CC_AMT_DRAWINGS_POS_CURRENT_VAR',
 'CC_AMT_INST_MIN_REGULARITY_MIN',
 'CC_AMT_INST_MIN_REGULARITY_MAX',
 'CC_AMT_INST_MIN_REGULARITY_MEAN',
 'CC_AMT_INST_MIN_REGULARITY_SUM',
 'CC_AMT_INST_MIN_REGULARITY_VAR',
 'CC_AMT_PAYMENT_CURRENT_MIN',
 'CC_AMT_PAYMENT_CURRENT_MAX',
 'CC_AMT_PAYMENT_CURRENT_MEAN',
 'CC_AMT_PAYMENT_CURRENT_SUM',
 'CC_AMT_PAYMENT_CURRENT_VAR',
 'CC_AMT_PAYMENT_TOTAL_CURRENT_MIN',
 'CC_AMT_PAYMENT_TOTAL_CURRENT_MAX',
 'CC_AMT_PAYMENT_TOTAL_CURRENT_MEAN',
 'CC_AMT_PAYMENT_TOTAL_CURRENT_SUM',
 'CC_AMT_PAYMENT_TOTAL_CURRENT_VAR',
 'CC_AMT_RECEIVABLE_PRINCIPAL_MIN',
 'CC_AMT_RECEIVABLE_PRINCIPAL_MAX',
 'CC_AMT_RECEIVABLE_PRINCIPAL_MEAN',
 'CC_AMT_RECEIVABLE_PRINCIPAL_SUM',
 'CC_AMT_RECEIVABLE_PRINCIPAL_VAR',
 'CC_AMT_RECIVABLE_MIN',
 'CC_AMT_RECIVABLE_MAX',
 'CC_AMT_RECIVABLE_MEAN',
 'CC_AMT_RECIVABLE_SUM',
 'CC_AMT_RECIVABLE_VAR',
 'CC_AMT_TOTAL_RECEIVABLE_MIN',
 'CC_AMT_TOTAL_RECEIVABLE_MAX',
 'CC_AMT_TOTAL_RECEIVABLE_MEAN',
 'CC_AMT_TOTAL_RECEIVABLE_SUM',
 'CC_AMT_TOTAL_RECEIVABLE_VAR',
 'CC_CNT_DRAWINGS_ATM_CURRENT_MIN',
 'CC_CNT_DRAWINGS_ATM_CURRENT_MAX',
 'CC_CNT_DRAWINGS_ATM_CURRENT_MEAN',
 'CC_CNT_DRAWINGS_ATM_CURRENT_SUM',
 'CC_CNT_DRAWINGS_ATM_CURRENT_VAR',
 'CC_CNT_DRAWINGS_CURRENT_MIN',
 'CC_CNT_DRAWINGS_CURRENT_MAX',
 'CC_CNT_DRAWINGS_CURRENT_MEAN',
 'CC_CNT_DRAWINGS_CURRENT_SUM',
 'CC_CNT_DRAWINGS_CURRENT_VAR',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_MIN',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_MAX',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_MEAN',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_SUM',
 'CC_CNT_DRAWINGS_OTHER_CURRENT_VAR',
 'CC_CNT_DRAWINGS_POS_CURRENT_MIN',
 'CC_CNT_DRAWINGS_POS_CURRENT_MAX',
 'CC_CNT_DRAWINGS_POS_CURRENT_MEAN',
 'CC_CNT_DRAWINGS_POS_CURRENT_SUM',
 'CC_CNT_DRAWINGS_POS_CURRENT_VAR',
 'CC_CNT_INSTALMENT_MATURE_CUM_MIN',
 'CC_CNT_INSTALMENT_MATURE_CUM_MAX',
 'CC_CNT_INSTALMENT_MATURE_CUM_MEAN',
 'CC_CNT_INSTALMENT_MATURE_CUM_SUM',
 'CC_CNT_INSTALMENT_MATURE_CUM_VAR',
 'CC_SK_DPD_MIN',
 'CC_SK_DPD_MAX',
 'CC_SK_DPD_MEAN',
 'CC_SK_DPD_SUM',
 'CC_SK_DPD_VAR',
 'CC_SK_DPD_DEF_MIN',
 'CC_SK_DPD_DEF_MAX',
 'CC_SK_DPD_DEF_MEAN',
 'CC_SK_DPD_DEF_SUM',
 'CC_SK_DPD_DEF_VAR',
 'CC_NAME_CONTRACT_STATUS_Active_MIN',
 'CC_NAME_CONTRACT_STATUS_Active_MAX',
 'CC_NAME_CONTRACT_STATUS_Active_MEAN',
 'CC_NAME_CONTRACT_STATUS_Active_SUM',
 'CC_NAME_CONTRACT_STATUS_Active_VAR',
 'CC_NAME_CONTRACT_STATUS_Approved_MIN',
 'CC_NAME_CONTRACT_STATUS_Approved_MAX',
 'CC_NAME_CONTRACT_STATUS_Approved_MEAN',
 'CC_NAME_CONTRACT_STATUS_Approved_SUM',
 'CC_NAME_CONTRACT_STATUS_Approved_VAR',
 'CC_NAME_CONTRACT_STATUS_Completed_MIN',
 'CC_NAME_CONTRACT_STATUS_Completed_MAX',
 'CC_NAME_CONTRACT_STATUS_Completed_MEAN',
 'CC_NAME_CONTRACT_STATUS_Completed_SUM',
 'CC_NAME_CONTRACT_STATUS_Completed_VAR',
 'CC_NAME_CONTRACT_STATUS_Demand_MIN',
 'CC_NAME_CONTRACT_STATUS_Demand_MAX',
 'CC_NAME_CONTRACT_STATUS_Demand_MEAN',
 'CC_NAME_CONTRACT_STATUS_Demand_SUM',
 'CC_NAME_CONTRACT_STATUS_Demand_VAR',
 'CC_NAME_CONTRACT_STATUS_Refused_MIN',
 'CC_NAME_CONTRACT_STATUS_Refused_MAX',
 'CC_NAME_CONTRACT_STATUS_Refused_MEAN',
 'CC_NAME_CONTRACT_STATUS_Refused_SUM',
 'CC_NAME_CONTRACT_STATUS_Refused_VAR',
 'CC_NAME_CONTRACT_STATUS_Sent proposal_MIN',
 'CC_NAME_CONTRACT_STATUS_Sent proposal_MAX',
 'CC_NAME_CONTRACT_STATUS_Sent proposal_MEAN',
 'CC_NAME_CONTRACT_STATUS_Sent proposal_SUM',
 'CC_NAME_CONTRACT_STATUS_Sent proposal_VAR',
 'CC_NAME_CONTRACT_STATUS_Signed_MIN',
 'CC_NAME_CONTRACT_STATUS_Signed_MAX',
 'CC_NAME_CONTRACT_STATUS_Signed_MEAN',
 'CC_NAME_CONTRACT_STATUS_Signed_SUM',
 'CC_NAME_CONTRACT_STATUS_Signed_VAR',
 'CC_COUNT']

In [28]:
features_analysis = list(data_merged.columns)
del features_analysis[0:2]
print(len(features_analysis))

col_one = []
col_std = []

for col in features_analysis:
    if data_merged[col].min() == 0 and data_merged[col].max() == 1:
        col_one.append(col)
    else:
        col_std.append(col)

print(len(col_one))
print(len(col_std))
features_analysis[0:10]

650
307
343

['CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH']

In [29]:
data_merged.isnull().mean().value_counts(bins=4)

(-0.00184, 0.21]    434
(0.63, 0.84]        177
(0.21, 0.42]         39
(0.42, 0.63]          2
dtype: int64

In [30]:
# Manage outliers
for col in col_std:
    outliers(data_merged, col)

In [31]:
data_merged.isnull().mean().value_counts(bins=4)

(-0.001863, 0.216]    417
(0.648, 0.863]        177
(0.216, 0.432]         55
(0.432, 0.648]          3
dtype: int64

In [32]:
col_to_delete = data_merged.columns[data_merged.isnull().mean() > max_empty].to_list()
data_merged = data_merged.drop(col_to_delete, axis=1)
data_merged.shape

(307507, 427)

In [33]:
data_transp = data_merged.transpose()
data_transp.isnull().mean().value_counts(bins=4)

(-0.001632, 0.158]    290100
(0.474, 0.632]         15523
(0.158, 0.316]           953
(0.316, 0.474]           931
dtype: int64

In [34]:
index_to_delete = data_transp.columns[data_transp.isnull().mean() > max_empty].to_list()
data_merged = data_merged.drop(index_to_delete, axis=0)
data_merged.shape

(291034, 427)

In [35]:
data_merged.isnull().mean().value_counts(bins=4)

(-0.00124, 0.0601]    328
(0.12, 0.18]           44
(0.0601, 0.12]         43
(0.18, 0.24]           12
dtype: int64

In [36]:
data_final = clean_df(data_merged)
data_final.shape

(291034, 427)

In [37]:
data_final.isnull().mean().value_counts(bins=4)

(-0.0005, 0.0]       427
(-0.002, -0.0005]      0
(0.0, 0.0005]          0
(0.0005, 0.001]        0
dtype: int64

In [38]:
np.isinf(data_final).mean().value_counts(bins=4)

(-0.0005, 0.0]       427
(-0.002, -0.0005]      0
(0.0, 0.0005]          0
(0.0005, 0.001]        0
dtype: int64

In [39]:
data_final.describe()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,...,APPROVED_AMT_GOODS_PRICE_MAX,APPROVED_AMT_GOODS_PRICE_MEAN,APPROVED_HOUR_APPR_PROCESS_START_MIN,APPROVED_HOUR_APPR_PROCESS_START_MAX,APPROVED_HOUR_APPR_PROCESS_START_MEAN,APPROVED_DAYS_DECISION_MIN,APPROVED_DAYS_DECISION_MAX,APPROVED_DAYS_DECISION_MEAN,APPROVED_CNT_PAYMENT_MEAN,APPROVED_CNT_PAYMENT_SUM,POS_MONTHS_BALANCE_MAX,POS_MONTHS_BALANCE_MEAN,POS_MONTHS_BALANCE_SIZE,POS_SK_DPD_MAX,POS_SK_DPD_MEAN,POS_SK_DPD_DEF_MAX,POS_SK_DPD_DEF_MEAN,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_COUNT,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,INSTAL_DPD_MAX,INSTAL_DPD_MEAN,INSTAL_DPD_SUM,INSTAL_DBD_MAX,INSTAL_DBD_MEAN,INSTAL_DBD_SUM,INSTAL_PAYMENT_PERC_MAX,INSTAL_PAYMENT_PERC_SUM,INSTAL_PAYMENT_PERC_VAR,INSTAL_PAYMENT_DIFF_MAX,INSTAL_PAYMENT_DIFF_VAR,INSTAL_AMT_INSTALMENT_MAX,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
count,"291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000",...,"291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000","291,034.0000"
mean,"278,218.1601",0.0819,0.6623,0.3384,0.2932,0.3773,"153,220.4874","565,113.4079","25,932.1423","483,471.3993",0.0193,"-16,050.8476","-1,864.2165","-4,968.7110","-2,992.2757",1.0000,0.8193,0.1993,0.9993,0.2824,0.0582,2.1176,12.0527,0.0142,0.0492,0.0399,0.0781,0.2316,0.1809,0.5129,0.5220,0.8932,0.0000,0.8882,0.0000,-993.5410,0.0000,0.7199,0.0001,0.0157,0.0859,0.0001,0.0804,0.0038,0.0000,0.0020,0.0000,0.0020,0.0015,0.0007,...,"231,649.7439","134,049.8223",11.1381,14.4152,12.8200,"-1,530.4270",-452.3392,"-1,009.4874",12.5625,37.2375,-6.4144,-30.9757,25.5845,0.0000,0.0000,0.0000,0.0000,0.9053,0.0000,0.0006,0.0000,0.0824,0.0000,0.0008,0.0105,0.0000,25.5845,2.0764,3.0056,0.1526,5.7253,31.9084,10.7718,311.8657,1.0000,29.0915,0.0283,"3,265.8856","2,310,373.5422","52,035.7529","13,917.0957","440,492.3890","3,511.3250","52,980.9804","13,581.7399","426,595.8570",-153.8996,-902.2111,"-24,991.2391",29.7328
std,"102,836.2355",0.2743,0.4729,0.4732,0.4552,0.6415,"62,597.5159","347,575.2950","12,054.1893","283,506.0964",0.0108,"4,355.8125","1,362.2098","3,475.3292","1,510.5011",0.0000,0.3848,0.3995,0.0261,0.4502,0.2340,0.8388,3.1609,0.1185,0.2163,0.1957,0.2683,0.4218,0.3849,0.1911,0.1659,1.3661,0.0000,1.3618,0.0000,810.3835,0.0067,0.4490,0.0093,0.1241,0.2802,0.0116,0.2720,0.0619,0.0049,0.0444,0.0019,0.0449,0.0389,0.0272,...,"207,903.5428","88,261.5814",3.0595,3.1798,2.7137,861.4298,290.6128,557.4116,5.6795,29.2378,7.3546,18.8386,17.2125,0.0000,0.0000,0.0000,0.0000,0.0724,0.0000,0.0075,0.0000,0.0610,0.0000,0.0101,0.0325,0.0000,17.2125,1.0145,5.1481,0.2835,11.1155,13.8507,5.5766,235.4902,0.0000,23.0612,0.0489,"5,596.1088","5,297,001.8503","62,075.6466","8,416.1618","427,546.0183","4,302.7860","63,379.0564","8,467.8270","418,329.2273",207.2807,570.5288,"24,029.9845",23.5210
min,"100,002.0000",0.0000,0.0000,0.0000,0.0000,0.0000,"25,650.0000","45,000.0000","1,615.5000","40,500.0000",0.0003,"-25,201.0000","-6,787.0000","-15,680.0000","-7,197.0000",1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,4.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0885,0.0000,0.0000,0.0000,0.0000,"-3,514.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,3.0000,5.0000,5.5556,"-2,922.0000","-1,461.0000","-2,654.5000",0.0000,0.0000,-34.0000,-86.7500,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0260,0.0000,"-13,193.3250",0.0000,0.0000,0.0000,0.0000,0.0000,31.3200,15.9000,47.7000,-921.0000,"-2,631.8333","-113,165.0000",1.0000
25%,"189,157.2500",0.0000,0.0000,0.0000,0.0000,0.0000,"112,500.0000","270,000.0000","16,573.5000","238,500.0000",0.0100,"-19,685.0000","-2,381.0000","-7,454.0000","-4,297.0000",1.0000,1.0000,0.0000,1.0000,0.0000,0.0000,2.0000,10.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.3904,0.4277,0.0000,0.0000,0.0000,0.0000,"-1,593.0000",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,"94,325.6250","70,884.8438",9.0000,12.0000,11.0000,"-2,376.0000",-604.0000,"-1,369.3333",9.0000,12.0000,-9.0000,-42.8889,12.0000,0.0000,0.0000,0.0000,0.0000,0.8750,0.0000,0.0000,0.0000,0.0484,0.0000,0.0000,0.0000,0.0000,12.0000,1.0000,0.0000,0.0000,0.0000,23.0000,6.7308,134.0000,1.0000,12.0000,0.0000,0.0000,0.0000,"14,158.1700","7,860.2084","135,970.0312",41.4450,"14,232.6900","7,538.4402","132,278.8950",-217.0000,"-1,289.0442","-34,467.0000",12.0000
50%,"278,309.5000",0.0000,1.0000,0.0000,0.0000,0.0000,"135,000.0000","500,211.0000","24,592.5000","450,000.0000",0.0188,"-15,764.0000","-1,544.0000","-4,503.0000","-3,251.0000",1.0000,1.0000,0.0000,1.0000,0.0000,0.0000,2.0000,12.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.5649,0.5353,0.0000,0.0000,0.0000,0.0000,-808.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,"151,920.0000","109,886.1187",11.0000,15.0000,13.0000,"-1,490.0000",-394.0000,-930.7500,12.0000,28.0000,-3.0000,-28.2353,21.0000,0.0000,0.0000,0.0000,0.0000,0.9167,0.0000,0.0000,0.0000,0.0769,0.0000,0.0000,0.0000,0.0000,21.0000,2.0000,0.0000,0.0000,0.0000,30.0000,9.7838,247.0000,1.0000,22.0000,0.0000,0.0000,0.0000,"26,945.5050","11,761.9587","283,088.2500","1,670.7150","27,244.2600","11,352.2417","271,763.2800",-46.0000,-798.7127,"-17,669.0000",23.0000
75%,"367,277.7500",0.0000,1.0000,1.0000,1.0000,1.0000,"189,000.0000","781,920.0000","33,147.0000","675,000.0000",0.0264,"-12,442.0000",-952.0000,"-2,029.0000","-1,716.0000",1.0000,1.0000,0.0000,1.0000,1.0000,0.0000,3.0000,14.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.6623,0.6347,1.0000,0.0000,1.0000,0.0000,-323.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,"290,250.0000","172,350.0000",13.0000,17.0000,14.6667,-721.0000,-245.0000,-558.0000,15.6000,52.0000,-2.0000,-15.5000,35.0000,0.0000,0.0000,0.0000,0.0000,0.9459,0.0000,0.0000,0.0000,0.1064,0.0000,0.0000,0.0000,0.0000,35.0000,2.0000,4.0000,0.1750,6.0000,38.0000,13.8000,428.0000,1.0000,39.0000,0.0400,"5,323.9388","1,232,025.2687","59,937.8175","17,755.6649","594,876.9038","5,843.7000","61,289.0550","17,303.0573","571,119.8513",-26.0000,-431.1098,"-6,821.0000",39.0000
max,"456,255.0000",1.0000,1.0000,1.0000,1.0000,2.0000,"337,500.0000","1,616,278.5000","61,699.5000","1,341,000.0000",0.0462,"-7,489.0000",0.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,4.0000,20.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.8550,0.8960,5.0000,0.0000,5.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,...,"927,639.0000","422,068.5000",19.0000,23.0000,20.0000,-2.0000,-1.0000,-2.0000,29.3333,132.0000,-1.0000,-1.0000,79.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,1.0000,0.0000,1.0000,1.0000,0.0000,79.0000,6.0000,22.0000,1.3019,52.0000,73.0000,27.9231,"1,070.0000",1.0000,107.2064,0.2135,"22,648.8600","28,193,343.7015","304,560.0900","41,740.9700","1,906,086.6450","17,704.1700","311,302.2600","42,153.3787","1,886,513.7600",-1.0000,-3.0000,-3.0000,109.0000

In [40]:
features_analysis = list(data_final.columns)
del features_analysis[0:2]

col_one = []
col_std = []

for col in features_analysis:
    if data_final[col].min() == 0 and data_final[col].max() == 1:
        col_one.append(col)
    else:
        col_std.append(col)

features_analysis = col_std + col_one

print(len(features_analysis))
print(len(col_one))
print(len(col_std))
print(features_analysis[0:10])

425
283
142
['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH']

In [41]:
# Paramètres
n_alphas = 10
Cs = np.logspace(-5, 5, n_alphas)
tolerance = [0.01]
kernel = ["rbf"]

splits = 10

score = metrics.make_scorer(metrics.fbeta_score, beta=2)
score_name = "f beta score"

alphas = np.logspace(-5, 5, n_alphas)
gammas = np.logspace(-5, 5, n_alphas)
layers = range(20, 30, 5)
iteration = [4000]
estimators = range(500, 700, 100)
l1 = np.arange(0.7, 1, 0.1)
learning_rate = np.arange(0.015, 0.030, 0.005)
iter_calc = [12000]

# Initiate models
svc = svm.SVC(cache_size=6000, probability=True, class_weight="balanced")
krc = kernel_ridge.KernelRidge()
rfc = RandomForestClassifier(oob_score=True, random_state=random_set)
gbc = GradientBoostingClassifier(random_state=random_set)
mlp = MLPClassifier(random_state=random_set)
# light gbm

In [42]:
data_final["TARGET"].value_counts()
# respecter la proportion de 0 et 1 dans le sample

0    267190
1     23844
Name: TARGET, dtype: int64

In [43]:
prop_0 = round(data_final["TARGET"].value_counts()[0] / len(data_final), 2)
prop_1 = round(1 - prop_0, 2)
print(prop_0)
print(prop_1)
n_sample_0 = round(n_sample * prop_0)
n_sample_1 = n_sample - n_sample_0
print(n_sample_0)
print(n_sample_1)

0.92
0.08
9200
800

In [44]:
# Features selection
k_features = 25
y = data_final["TARGET"]
X = data_final[features_analysis]

# Only scale relevant columns
# StandardScaler
# RobustScaler
# MinMaxScaler
scale = ColumnTransformer(
    transformers=[
        ("std", StandardScaler(), col_std),
        ("no_std", "passthrough", col_one),
    ]
)

scale.fit(X)
X_std = scale.transform(X)
print(X_std.shape)

# Let's keep the 25 most important features
feature_selection = SelectKBest(k=k_features).fit(X_std, y)
new_feat = X.columns[feature_selection.get_support()]
new_feat

(291034, 425)

C:\Users\bruno\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:112: UserWarning: Features [ 10  16  18  20  21  22  23  24  26  27  39  40  47  48  49  50  51  52
  53  54  78  79  80  81  82  83 110 111 112 113 114 115 116 117 126] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
C:\Users\bruno\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

Index(['DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_EMPLOYED_PERC',
       'BURO_DAYS_CREDIT_MIN', 'BURO_DAYS_CREDIT_MAX', 'BURO_DAYS_CREDIT_MEAN',
       'BURO_DAYS_CREDIT_ENDDATE_MIN', 'BURO_DAYS_CREDIT_UPDATE_MEAN',
       'PREV_DAYS_DECISION_MIN', 'APPROVED_DAYS_DECISION_MIN', 'CODE_GENDER',
       'NAME_INCOME_TYPE_Working', 'NAME_EDUCATION_TYPE_Higher education',
       'BURO_CREDIT_ACTIVE_Active_MEAN', 'BURO_CREDIT_ACTIVE_Closed_MEAN',
       'PREV_NAME_CONTRACT_STATUS_Approved_MEAN',
       'PREV_NAME_CONTRACT_STATUS_Refused_MEAN',
       'PREV_CODE_REJECT_REASON_HC_MEAN', 'PREV_CODE_REJECT_REASON_SCOFR_MEAN',
       'PREV_CODE_REJECT_REASON_XAP_MEAN',
       'PREV_NAME_PRODUCT_TYPE_walk-in_MEAN'],
      dtype='object')

In [45]:
col_one = []
col_std = []

for col in new_feat:
    if data_final[col].min() == 0 and data_final[col].max() == 1:
        col_one.append(col)
    else:
        col_std.append(col)

features_analysis = col_std + col_one

print(len(features_analysis))
print(len(col_one))
print(len(col_std))
print(features_analysis[0:10])

25
11
14
['DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_EMPLOYED_PERC', 'BURO_DAYS_CREDIT_MIN', 'BURO_DAYS_CREDIT_MAX', 'BURO_DAYS_CREDIT_MEAN']

In [46]:
# Data sample
data_0 = data_final[data_final["TARGET"] == 0].sample(
    n_sample_0, random_state=random_set
)
data_1 = data_final[data_final["TARGET"] == 1].sample(
    n_sample_1, random_state=random_set
)
data = pd.concat([data_0, data_1])

y = data["TARGET"]
X = data[features_analysis]

# train / test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size)

print("Training data :", X_train.shape)
print("Testing data :", X_test.shape)


# Scalers
scale_std = ColumnTransformer(
    transformers=[
        ("std", StandardScaler(), col_std),
        ("no_std", "passthrough", col_one),
    ]
)

scale_robust = ColumnTransformer(
    transformers=[
        ("std", RobustScaler(), col_std),
        ("no_std", "passthrough", col_one),
    ]
)

scale_min_max = ColumnTransformer(
    transformers=[
        ("std", MinMaxScaler(), col_std),
        ("no_std", "passthrough", col_one),
    ]
)

scale_std.fit(X_train)
X_test_std = scale_std.transform(X_test)

# Oversampling
smote = SMOTE(sampling_strategy=0.8, random_state=random_set)

# fit predictor and target variable
X_train, y_train = smote.fit_resample(X_train, y_train)
print("SMOTEd training data :", X_train.shape)

X_train_std = scale_std.transform(X_train)

# Classifiers
svc = svm.SVC(cache_size=6000, probability=True)
rfc = RandomForestClassifier(oob_score=True, random_state=random_set)
# gbc = GradientBoostingClassifier(random_state=random_set)
# mlp = MLPClassifier(random_state=random_set)
lgbm = LGBMClassifier()

# model_names = [svc, rfc, gbc, mlp, lgbm]
model_names = [svc, rfc, lgbm]

# SelectKBest
feature_selection = SelectKBest(k=k_features)

# pipeline_std = Pipeline(steps=[("scaler", scale_std), ("classifier", svc)])
pipeline_std = Pipeline(steps=[("classifier", svc)])
pipeline_robust = Pipeline(steps=[("scaler", scale_robust), ("classifier", svc)])
pipeline_min_max = Pipeline(steps=[("scaler", scale_min_max), ("classifier", svc)])

# SVC
params_svc = {}
params_svc["classifier__C"] = Cs
params_svc["classifier__tol"] = tolerance
params_svc["classifier__kernel"] = kernel
params_svc["classifier"] = [svc]

# Light GBM
params_lgbm = {}
params_lgbm["classifier__n_estimators"] = estimators
params_lgbm["classifier__learning_rate"] = learning_rate
params_lgbm["classifier"] = [lgbm]

# Random Forest Classifier
params_rfc = {}
params_rfc["classifier__n_estimators"] = estimators
params_rfc["classifier"] = [rfc]

params = [params_svc, params_lgbm, params_rfc]

gs_std = GridSearchCV(pipeline_std, params, scoring=score, cv=splits)
gs_robust = GridSearchCV(pipeline_robust, params, scoring=score, cv=splits)
gs_min_max = GridSearchCV(pipeline_min_max, params, scoring=score, cv=splits)

Training data : (6000, 25)
Testing data : (4000, 25)
SMOTEd training data : (9887, 25)

In [ ]:
gs_std.fit(X_train_std, y_train)
print("Best params :", gs_std.best_params_)
print(score_name, " :", gs_std.best_score_)

In [ ]:
X_test_std

In [ ]:
# Calculate predictions and probabilities
y_pred = gs_std.predict(X_test_std)
y_prob = gs_std.predict_proba(X_test_std)[:, 1]

print("F1 score :", metrics.f1_score(y_test, y_pred))
print("F beta score :", metrics.fbeta_score(y_test, y_pred, beta=2))
print("Precision :", metrics.precision_score(y_test, y_pred))
print("Recall :", metrics.recall_score(y_test, y_pred))
print("ROC score :", metrics.roc_auc_score(y_test, y_prob))
print("Confusion matrix : ")
metrics.confusion_matrix(y_test, y_pred)

In [ ]:
[fpr, tpr, thr] = metrics.roc_curve(y_test, y_prob)
plt.plot(fpr, tpr, color="coral", lw=2)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel("1 - specificite", fontsize=14)
plt.ylabel("Sensibilite", fontsize=14)

In [ ]:
# Regardons pour notre meilleur modèle quelles sont les 10 variables les plus influentes
from sklearn.inspection import permutation_importance

r = permutation_importance(
    gs_std, X_train, y_train, n_repeats=5, random_state=random_set
)
for i in r.importances_mean.argsort()[::-1][:10]:
    if r.importances_mean[i] - 2 * r.importances_std[i] > 0:
        print(
            f"{X_train.columns[i]:<8} : "
            f"{r.importances_mean[i]:.3f}"
            f" +/- {r.importances_std[i]:.3f}"
        )

In [ ]:
# SHAP (pour feature importance)